<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>The Shape of Card Games</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="common-css/bootstrap.css" rel="stylesheet">

	<link href="common-css/ionicons.css" rel="stylesheet">


	<link href="blog-sidebar/css/styles.css" rel="stylesheet">

	<link href="blog-sidebar/css/responsive.css" rel="stylesheet">

</head>
<body >

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="{{site.url}}{{site.baseurl}}" class="logo"><img src="images/logo.png" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="{{site.url}}{{site.baseurl}}">Home</a></li>
				<li><a href="http://cardstock.readthedocs.io">Documentation</a></li>
				<li><a href="http://github.com/mgoadric/cardstock">GitHub</a></li>
			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>

	<div class="slider display-table center-text">
		<h1 class="title display-table-cell"><b>THE SHAPE OF CARD GAMES</b></h1>
	</div><!-- slider -->

	<section class="blog-area section">
		<div class="container">

			<div class="row">

				<div class="col-lg-8 col-md-12">
					<div class="row">

						{{ content }}
						
					</div><!-- row -->

					<!-- <a class="load-more-btn" href="#"><b>LOAD MORE</b></a> -->

				</div><!-- col-lg-8 col-md-12 -->

				<div class="col-lg-4 col-md-12 ">

					<div class="single-post info-area ">

						<div class="about-area">
							<h4 class="title"><b>ABOUT</b></h4>
							<p><b>The Shape of Card Games</b> is an attempt to quantify the 
							mechanics, genres, strategy, and tactics found across many
							different types of card games. Each week, we'll discuss
							a different game, showing how the rules can be captured
							with <a href="https://cardstock.readthedocs.io/en/latest/recycle/index.html">RECYCLE</a>
							and simulations with both random and AI players in 
							<a href="https://cardstock.readthedocs.io/en/latest/cardstock/index.html">Card Stock</a>
							can sketch out the heuristics of the game.
							</p>
							
						</div>

						<div class="tag-area">

							<h4 class="title"><b>TOPICS</b></h4>
							<ul>
							{% for category in site.categories %}
							    <li><a href="#">{{ category[0] }}</a></li>
						    {% endfor %}
							</ul>

						</div><!-- subscribe-area -->

					</div><!-- info-area -->

				</div><!-- col-lg-4 col-md-12 -->

			</div><!-- row -->

		</div><!-- container -->
	</section><!-- section -->


	<footer>
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<div class="footer-section">

						<a class="logo" href="http://games.goadrich.com"><img src="{{site.baseurl}}/images/gglogo.png" alt="Logo Image"></a>
						<p class="copyright">Mark Goadrich @ 2018. All rights reserved.</p>
						<p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
						<ul class="icons">
							<li><a href="{{ "/feed.xml" | relative_url }}"><i class="ion-social-rss-outline"></i></a></li>
							<li><a href="http://twitter.com/mgoadric/"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="http://github.com/mgoadric/cardstock"><i class="ion-social-github-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-md-12 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="common-js/jquery-3.1.1.min.js"></script>

	<script src="common-js/tether.min.js"></script>

	<script src="common-js/bootstrap.js"></script>

	<script src="common-js/scripts.js"></script>

<script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'mgoadric-github-io'; // required: replace example with your forum shortname
      //var disqus_developer = 1; // Comment out when the site is live

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
    

   {% if jekyll.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}
    
</body>
</html>
