<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>The Shape of Card Games</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="{{site.baseurl}}/common-css/bootstrap.css" rel="stylesheet">

	<link href="{{site.baseurl}}/common-css/ionicons.css" rel="stylesheet">


	<link href="{{site.baseurl}}/single-post-2/css/styles.css" rel="stylesheet">

	<link href="{{site.baseurl}}/single-post-2/css/responsive.css" rel="stylesheet">

</head>
<body >

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="#" class="logo"><img src="images/logo.png" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Categories</a></li>
				<li><a href="#">Features</a></li>
			</ul><!-- main-menu -->

			<div class="src-area">
				<form>
					<button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
					<input class="src-input" type="text" placeholder="Type of search">
				</form>
			</div>

		</div><!-- conatiner -->
	</header>

	<div class="slider">

	</div><!-- slider -->

	{{ content }}

	<footer>
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<div class="footer-section">

						<a class="logo" href="#"><img src="images/logo.png" alt="Logo Image"></a>
						<p class="copyright">Mark Goadrich @ 2018. All rights reserved.</p>
						<p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
						<ul class="icons">
							<li><a href="{{ "/feed.xml" | relative_url }}"><i class="ion-social-rss-outline"></i></a></li>
							<li><a href="http://twitter.com/mgoadric/"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="http://github.com/mgoadric/cardstock"><i class="ion-social-github-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-md-12 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCRIPTS -->

	<script src="{{site.baseurl}}/common-js/jquery-3.1.1.min.js"></script>

	<script src="{{site.baseurl}}/common-js/tether.min.js"></script>

	<script src="{{site.baseurl}}/common-js/bootstrap.js"></script>

	<script src="{{site.baseurl}}/common-js/scripts.js"></script>

</body>
</html>
